
{#
{% set vagrant = salt['grains.filter_by']({
    'default': {
        'pkg': 'vagrant',
        'service': 'vagrant',
        'config': '/etc/vagrant.conf',
    },
}, merge=salt['pillar.get']('vagrant:lookup')) %}
#}
